.bg-img{
  background-image: url('src/assets/img/error-404-page-not-found.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  overflow: auto;
}
.bg-c-page{
  opacity: 0.6;
  background-color: #051922;
  padding-bottom: 100px;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 31px 0;
}
.child {
  padding-top: 50px;
  display: block;
  text-align: center;
  line-height: 120px;
  word-spacing: 40px;
  font-weight: 900;
}
.child p {
  font-family: 'Mystery Quest', cursive;
  text-shadow:0 0 15px rgba(0, 255, 0, 1),
  0 0 75px rgba(0, 255, 0, 1),
  0 0 90px rgba(0, 255, 0, 1),
  0 0 105px rgba(0, 255, 0, 1);
  color:#fff;
  font-size: 150px;
}
